/* You should edit the content below to fit your website */

* {
	font-family: Georgia, serif;
	color: #3d405b;
	text-align: center;}

nav {

background-color: #81b29a;
padding: 10px;
margin: 10px;

}

li {
	display:  inline;
	padding:  5px;

}

.container {
	display:  flex;
	align-items: center;
	justify-content: center;

}

img {
	max-width: 300%;

}

.image {
	flex-basis: 100%;
}

.text {
	font-size: 20px;
	padding-left: 200px;
	text-align: right;

}

body {
	width: 960px;
	margin: 0 auto;
	background-color: #f4f1de

}

article {
	background-color: #f2cc8f;
	width: 900 px;
	margin:  10px;

}

footer {
	background-color: #81b29a;
	padding:  10px;
	margin:  10px;
}

#content {
	overflow: auto;
	height: 100%;}
.column1, .column2, .column3 {
	float: left;
	margin: 10px;}
